#pricing{
  padding: 7% 15%;
  font-family: "Montserrat";
}
.sign-up{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-radius: 10px;
  background-color: blue;
}
.card-header{
  background-color: #FFB72B;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}
.p-intro-pricing{
  padding-bottom: 50px;

}
.p-pricing{
  font-family: "Open Sans Condensed";
  font-size: 1.3rem;
  color: black;
  font-weight: 100;
  text-align: center;
}
.h2-pricing{
  text-align: left;
  border-radius: 10px;
}
.details-card-1{
  padding: 40px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  margin-bottom: 50px;
  margin-top: 20px;
  margin-left: 20px;
}
.details-card-inside{
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}
.details-card-2{
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4);
  border-radius: 10px;

}
.h3-pricing{
  margin-top: 20px;
}
.card{
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

